hackathon-java/.vagrant
hackathon-java/.idea
hackathon-java/*.iml
hackathon-java*.log

# java
hackathon-java*.class
hackathon-java.classpath
hackathon-javatarget/
hackathon-java.settings/
hackathon-javalogs/
hackathon-javadump.rdb
hackathon-java/tests

# vim
hackathon-java.*.sw[opn]
